.postCard {
  display: flex;
  justify-content: space-between;

  width: 320px;
  height: 200px;
  margin: 16px;
  padding: 16px;

  text-decoration: none;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%); /* Тень */

  transition: box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  }

  .postCard__title,
  .postCard__body,
  span {
    color: black;
  }
}
