.postWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin: 16px;
  padding: 16px;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%); /* Тень */

  transition: box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  }
}
