.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 20px;

  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  .title {
    border-bottom: 1px solid black;
  }
}

