.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 20px;

  text-align: center;

  h1 {
    margin-bottom: 20px;
  }
}

.book-card {
  display: flex;
  justify-content: space-between;

  width: 560px;
  height: 360px;
  margin: 16px;
  padding: 16px;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%); /* Тень */

  transition: box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  }
}

.booksList {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.largeImg {
  width: 360px;
  height: 500px;
}

.bookWrapper {
  display: flex;
  gap: 30px;
}
